body {
    background-color:#b1bace ;
    margin: 0;
}

* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased
}

*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.bootstrap-iso {
    background-color: #e6e6e6;
}

:after, :before {
    box-sizing: content-box;
}

body {
    font: 14px/1 'Open Sans', sans-serif;
    color: #555;
}

p {
    margin: 0 0 20px;
    line-height: 1.5;
}

h1 {
    font-size: 35px;
    color: #1C2A38;
    margin-left: 10px;
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}


.h2, h2 {
    color: #2e3951;
    font: 14px/1 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
    margin: 0;
}

h3 {
    color: #2e3951;
    font: 14px/1 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    margin: 0;
}

li {
    padding: 10px 20px;
    border-bottom: 5px solid #ccc;
}

.welcomeTitle {
    color: #d0d6e2;
    font-size: 50px
}

.col-sm-offset-2 {
    margin-left: 0%;
    margin-top: 50px;
}

.mybox {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    clear: left;
    display: block;
}


#containerTitle {
    background-color: #d0d6e2;
    width: 20%;
    padding-left: 10%;
    padding-top: 20px;
    padding-right: 70%;
    text-align: left;
    height: 80px;
    clear: left;
    display: block;
    text-align: left;
}

#topNavigation {
    padding-top: 25px;
    background-color: #1D364E;
    position: relative;
    height: 500px;
}

#uploadPanel {
    position: absolute;
    margin-left: 40%;
    width: 40%;
    height: 300px;
    float: right;
    margin-top: 30px;
}

#file-select {
    margin-left: 10px;
}

#aircraftPanel {
    background-color: #e6e6e6;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    clear: left;
    display: block;
    height: 350px;
}

#itemlist {
    overflow: scroll;
    width: 80%;
    max-height: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    border: 5px solid #ccc;
    border-radius: 10px;
    font: 14px/1 'Open Sans', sans-serif;
    font-weight: 500;
    list-style-position: inside;
    -webkit-overflow-scrolling: touch;
}

#graphsPanel {
    background-color: #e6e6e6;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    clear: left;
    display: none;
    padding-bottom: 5%;
    margin-bottom: 100px;
    height: auto;
}

#dropDownList {
    height: 200px;
    width: 50%;
    background-color: #e6e6e6;
    overflow: scroll;
}

#tilesContainer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom: 200px;
    height: 500px;
    min-height: 100%;
    background-color: #e6e6e6;
}

#graphContainer {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    height: 600px;
    padding-top: 5%;
    padding-bottom: 5%;
    min-height: 100%;
    background-color: #e6e6e6;

}

#predictionsPanel {
    background-color: #e6e6e6;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    clear: left;
    display: none;
}

#riskGraphContainer {
    margin: 0;
    height: 500px;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #e6e6e6;

}

#stats_predic_Container {
    background-color: #e6e6e6;
    padding-top: 60px;

}

/*******************************************************************************/

.tile{
    background-color: #ffffff;
    margin-bottom: 3%;
    border-radius: 10px;
    text-align: center;
}

.first{
    float: left;
    width: 47%;
    height: 40%;
}

.second {
    float: left;
    width: 31%;
    height: 55%;
}

.third {
    float: right;
    width: 47%;
    height: 40%;
    margin-bottom: 3%;
}

.fourth {
    float: right;
    width: 31%;
    height: 55%;
    margin-left: 3.5%;
}

.last {
    float: right;
    width: 31%;
    height: 55%;
}

.hover-expand:hover {
    color: mintcream;
    background-size: contain;
    -webkit-transition: transform 0.5s ease-in-out;
    transform: scale(1.2);
    background-color: #ffffff;
    opacity: 1;
}

.tile > h3 {
    border-bottom: 2px solid black;
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
    position: relative;

}
.tile > img {
    position: relative;
    max-width: 100%;
    max-height: 70%;
}

/***********************************************************************/

.highlight-on-hover {
    background-color: #4B515D;
    text-align: center;
    font-size: 18px;
    color: #929fba;

}

.highlight-on-hover:hover {
    background: #3E4551;
    font-size: 25px;
    color: #b1bace;
}
/***********************************************************************/

.instructionsList li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    float: left;
    margin-right: 5px
}

.instructionsList {
    width: 80%;
    border: none;
    margin-top: 50px;
}


/***********************************************************************/
.panel-body {
    padding: 15px;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 30px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=submit] {
    width: 100%;
    background-color: #555;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #111;
}


