.box {
        width: 80%;
	padding-left:10%;
	padding-right: 10%;
	clear: left;
    display: block;
	margin: 0 auto;
	border-bottom: 1px solid #777777;
}

#containerTitle{
    background-color: #312A2A;
    width: 80%;
	padding-left:10%;
	padding-right: 10%;
	clear: left;
    display: block;
	margin: 0 auto;
	border-bottom: 1px solid #777777;

}

#tilesContainer
{

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom:60px;
    height: 500px;
    min-height: 100%;
}



.first {
    float: left;
    width: 47%;
    height: 40%;
    background-color:  #ADAAAE;
	margin-bottom:3%;
    border-radius: 10px;
}

.second{
    float: left;
    width: 31%;
    height: 57%;
    background-color: #ADAAAE;
      border-radius: 10px;
}


.third{

    float: right;
    width: 47%;
    height: 40%;
	margin-bottom:3%;
      border-radius: 10px;

    background-color: #ADAAAE;
}

.fourth {
    float: right;
    width: 31%;
    height: 57%;
    background-color: #ADAAAE;
	margin-left:3.5%;
      border-radius: 10px;
}

.last{
    float: right;
    width: 31%;
    height: 57%;
    background-color: #ADAAAE;
      border-radius: 10px;
}




.first:hover {
	transform: scale(1.2);
    background-color: #8c8c8c;
    color: #5e9ca0;
}



.second:hover {
	transform: scale(1.2);
    background-color: #8c8c8c;
    color: #5e9ca0;
}



.third:hover {
	transform: scale(1.2);
    background-color: #8c8c8c;
    color: #5e9ca0;
}


.fourth:hover {
	transform: scale(1.2);
    background-color: #8c8c8c;
    color: #5e9ca0;
}


.last:hover {
	transform: scale(1.2);
    background-color: #8c8c8c;
    color: #5e9ca0;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}
input[type=submit] {
    width: 100%;
    background-color: #555;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #111;
}
#graphContainer {
    min-width: 310px;
    height: 500px;
    display: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
     margin: 0 auto


}