body{
    background-color:#fff;
    margin:0;
}

* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased
}

*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.bootstrap-iso {
    background-color: #e6e6e6;
}

:after, :before {
    box-sizing: content-box;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
 }

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.h2, h2 {
    font-size: 20px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    display: grid;
    color: #111111;
    text-align: center;
}

h1 {
    font-size: 35px;
    color: #1C2A38;
    margin-left: 10px;
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

li {
    padding: 10px 20px;

    border-bottom: 1px solid #ccc;
}

.welcomeTitle {
    color: mintcream;
    font-size: 50px
}

.col-sm-offset-2 {
    margin-left: 0%;
    margin-top: 50px;
}

.mybox {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    clear: left;
    display: block;
}

.titlesContainer {
    padding-top: 15px;
    background-color:#1D364E;
    position: relative;
    height: 350px
}

.instructionsList li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    float: left;
    margin-right: 5px
}

.instructionsList {
    width:80%;
    border:none
}

.instructionsContainer {
    margin-bottom: 50px
}

#containerTitle {
    background-color: #ffffff;
    width: 20%;
    padding-left: 10%;
    padding-right: 70%;
    text-align: left;
    height: 100%;
    clear: left;
    display: block;
    text-align: left;
}

#topNavigation {
    padding-top: 25px;
    background-color: #1D364E;
    position: relative;
    height: 500px;
}

#uploadPanel {
    position: absolute;
    margin-left: 40%;
    width: 40%;
    height: 300px;
    float: right;
    margin-top: 30px;
}

#file-select {
    margin-left: 10px;
}

#aircraftPanel {
    background-color: #e6e6e6;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    clear: left;
    display: block;
    height: 350px;
}

#itemlist {
    overflow: scroll;
    width: 80%;
    max-height: 250px;
    margin-bottom: 200px;
    position: relative;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 0;
    border: 2px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
    list-style-position: inside;
    -webkit-overflow-scrolling: touch;
}

#graphsPanel {
    background-color: #e6e6e6;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    clear: left;
    display: none;
    margin-bottom: 200px;
    height: 230px;
}

#dropDownList {
    height: 200px;
    width: 50%;
    background-color: #e6e6e6;
    overflow: scroll;
}

#tilesContainer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 500px;
    min-height: 100%;
    background-color: #e6e6e6;
}

#graphContainer {

    margin: 0;
    height: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 100%;
    background-color: #e6e6e6;

}

#predictionsPanel {
    background-color: #e6e6e6;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    clear: left;
    display: none;
}

#riskGraphContainer {
    margin: 0;
    height: 350px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #e6e6e6;

}

#stats_predic_Container {
    background-color: #e6e6e6;
    padding-top: 60px;

}

.first {
    float: left;
    width: 47%;
    height: 40%;
    background-color: #777;
    margin-bottom: 3%;
    border-radius: 10px;
}

.second {
    float: left;
    width: 31%;
    height: 57%;
    background-color: #777;
    border-radius: 10px;
}

.third {
    float: right;
    width: 47%;
    height: 40%;
    margin-bottom: 3%;
    border-radius: 10px;
    background-color: #777;
}

.fourth {
    float: right;
    width: 31%;
    height: 57%;
    background-color: #777;
    margin-left: 3.5%;
    border-radius: 10px;
}

.last {
    float: right;
    width: 31%;
    height: 57%;
    background-color: #777;
    border-radius: 10px;
}

.hover-expand:hover {
    transform: scale(1.2);
    background-color: #8c8c8c;
    color: #5e9ca0;
    opacity: 1;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=submit] {
    width: 100%;
    background-color: #555;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #111;
}

.panel-body {
    padding: 15px;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 30px;
}

.highlight-on-hover:hover {
    background: #e6ffff
}
