* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}
.bootstrap-iso {

    background-color: #e6e6e6;

}

:after, :before {
    box-sizing: content-box;
}

.h2, h2 {
    font-size: 20px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;

}
.col-sm-offset-2 {
    margin-left: 0%;
    margin-top: 50px;
}

.mybox {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    clear: left;
    display: block;

}

#containerTitle {
    background-color: #312A2A;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    clear: left;
    display: block;
}

#tilesContainer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 500px;
    min-height: 100%;
}

#graphContainer {
    min-width: 310px;
    height: 100%;
    display: none;
    padding-right: 5%;
    margin: 0;
}

.first {
    float: left;
    width: 47%;
    height: 40%;
    background-color: #777;
    margin-bottom: 3%;
    border-radius: 10px;
    opacity: 0.5;
    background: no-repeat;
}

.second {
    float: left;
    width: 31%;
    height: 57%;
    background-color: #777;
    border-radius: 10px;
    background: no-repeat;
    opacity: 0.5;
}

.third {
    float: right;
    width: 47%;
    height: 40%;
    margin-bottom: 3%;
    border-radius: 10px;
    background: no-repeat;
    background-color: #777;
    opacity: 0.5;
}

.fourth {
    float: right;
    width: 31%;
    height: 57%;
    background-color: #777;
    margin-left: 3.5%;
    border-radius: 10px;
    background: no-repeat;
}

.last {
    float: right;
    width: 31%;
    height: 57%;
    background-color: #777;
    border-radius: 10px;
    background: no-repeat;
}

.first:hover {
    transform: scale(1.2);
    background-color: #8c8c8c;
    opacity: 1;
    color: #5e9ca0;

}

.second:hover {
    transform: scale(1.2);
    background-color: #8c8c8c;
    color: #5e9ca0;
    opacity: 1;

}

.third:hover {
    transform: scale(1.2);
    background-color: #8c8c8c;
    color: #5e9ca0;
    opacity: 1;
}

.fourth:hover {
    transform: scale(1.2);
    background-color: #8c8c8c;
    color: #5e9ca0;
}

.last:hover {
    transform: scale(1.2);
    background-color: #8c8c8c;
    color: #5e9ca0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=submit] {
    width: 100%;
    background-color: #555;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #111;
}
