<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../static/stylesheets/topnavStyle.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
</head>
<body style="height: auto">


<div id="descriptionRiskPlot"  style="background-color: #3E4551; padding-top:10px; padding-bottom: 10%; height: 150px; border : 1px solid grey; float: left; width: 100%">
    <h1 class="failureLable">Description of the graph</h1>
    <p>Text for risk graph</p>
    <br>
    <p>Text again</p>
</div>

<div id="descriptionHistogramPlot"  style=" padding-top:10px; ">
    <h1 class="failureLable">Description of the graph</h1>
    <p>Text for histogram graph</p>
    <br>
    <p>Text again</p>
</div>

<div id="descriptionDustExposureGraph"  style="padding-bottom: 50px; padding-left: 25px">
    <h1 class="failureLable">Description of the graph</h1>
    <p>Text for DUST EXPOSURE graph</p>
    <br>
    <p>Text again</p>
</div>
<div id="descriptionRULVariation"  style="padding-bottom: 50px;">
    <h1 class="failureLable">Description of the graph</h1>
    <p>Text for RUL VARIATION graph</p>
    <br>
    <p>Text again</p>
</div>
<div id="descriptionDustAccumulationGraph"  style="padding-bottom: 50px;">
    <h1 class="failureLable">Description of the graph</h1>
    <p>Text for DUST ACCUMULATION graph</p>
    <br>
    <p>Text again</p>
</div>
<div id="descriptionFailChance"  style="padding-bottom: 50px;">
    <h1 class="failureLable">Description of the graph</h1>
    <p>Text for FAIL CHANCE graph</p>
    <br>
    <p>Text again</p>
</div>
<div id="descriptionRULWithDust"  style="padding-bottom: 50px;">
    <h1 class="failureLable">Description of the graph</h1>
    <p>Text for RUL with DUST graph</p>
    <br>
    <p>Text again</p>
</div>


</body>
</html>