<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/stylesheets/searchBar.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/topnavStyle.css">
    <script src="{{ url_for('static', filename='js/graphs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/selection.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/xrange.js"></script>

    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/gantt.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body style="background-color:#fff; margin:0;">

<div id="containerTitle">
    <div id="pageTitle" style="width:25%; float: left">
        <h2><span style="display: grid; color: #111111 ;"><strong>Predictive aircraft maintenance</strong></span></h2>
    </div>
</div>


<div class="mybox" style="padding-top: 15px ;background-color:#1D364E;">
    <a href="#" class="mybtn">Home</a>
    <a href="#" class="mybtn">About</a>
    <a href="#" class="mybtn">Services</a>
    <a href="#" class="mybtn">Contact</a>

    <h1 style="font-size: 50px; color: #1C2A38;">Welcome to the predictive aircraft maintenance engine </h1>
    <h2 style="color: #5e9ca0;">How to use the service:</h2>
    <p>SEARCH FOR TRENDS AND DEPENDENCIES. <br/>
        Edit any of the two areas and see the other changing in real time.&nbsp;</p>
    <p>Click the <span style="background-color: #5e9ca0; color: #fff; display: inline-block;
    padding: 3px 10px; font-weight: bold; border-radius: 5px;">
        Graphs</span> button to vizualize the charts.</p>
    <h2 style="color: #5e9ca0;">&nbsp;</h2>
</div>


<div id="secondaryMenu" class="mybox" style="background-color:#fff;border: none">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1" onclick="back()">Graphs</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" onclick="showGraph('5')">Predictions</label>
</div>


<div class="mybox" id="mainContainer" style="padding-bottom: 200px; height: 600px">

    <div id="predictionsContainer" style=" background-color: #e6e6e6 ; ">
        <section id="searchBox" style="display: none">
            <form id="aircraftSearch" action="">
                <input id="textInput" placeholder="What are you looking for?">
                <button type="reset" onclick="riskPlotRerender();">Search</button>
            </form>
        </section>
        <!-- not put spaces inside an id field as js won't find it-->
        <div id="graphContainer" style="  padding-top: 30px;  "></div>


        <div id="stats_predic_Container" style="display: none; padding-top: 60px;">
            <button type="button" id="collapseButton" class="btn btn-info" data-toggle="collapse" data-target="#info"
                    onclick="newContent();" style="background-color: #1D364E; width: 200px;margin-left: 50px;">
                Show detailed data
            </button>

            <button type="button" class="btn btn-info" onclick="addContent();" style="background-color: #1D364E;
             width: 200px;margin-left: 10px;"> Add content</button>
                 <button type="button" class="btn btn-info" onclick="removeLastField();" style="background-color: #1D364E;
             width: 200px;margin-left: 10px;">
                Remove last date
            </button>

            <form id="info" class="collapse" style="background-color:#e6e6e6;  width: 100%; padding-top: 60px">
                <div id="newContent"></div>
            </form>
        </div>
    </div>

    <div id="tilesContainer" style="background-color: #e6e6e6">

        <div class="first" style="background-image: url('../static/photos/chart1.png');
        background-size:100%;" onclick="showGraph('1')">
            <h2 style="color: #5e9ca0; position: absolute; "> Dust exposure at cycle number</h2>
        </div>
        <div class="third" style=" background-image: url('../static/photos/chart2.png');
        background-size:cover;" onclick="showGraph('3')">
            <h2 style="color: #5e9ca0; position: absolute; "> Predicted and working cycles</h2>
        </div>
        <div class="second" style="background-image: url('../static/photos/chart3.png');
        background-size:100%;" onclick="showGraph('4')">
        </div>
        <div class="fourth">fourth
        </div>
        <div class="last">last
        </div>
    </div>  ​
</div>

</body>
</html>