<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <!-- Include CSS files: custom or libraries; the order of the imports matters as some default attributes
    are overwritten by custom ones-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/searchBar.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/topnavStyle.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all">

    <!-- Include the javascript libraries for: jquery, ajax, bootstrap, datepicker-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <!-- Include the javascript custom files for the custom functions-->
    <script src="{{ url_for('static', filename='js/constants.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graphs-data-fetch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/selection.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graphs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aircraftLists.js') }}"></script>
    <script src="{{ url_for('static', filename='js/multi_input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graphConfigFunctions.js') }}"></script>
    <!-- Include the javascript libraries for plots from highcharts and amcharts-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/xrange.js"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/gantt.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>


</head>
<body onload="onStartFillLists({{ itemslist }})">

<div id="containerTitle">
    <div id="pageTitle">
        <h2> Predictive aircraft maintenance </h2>
    </div>
</div>
<!-- top navigation with links buttons that move to another web page-->
<div class="mybox" id="topNavigation">
    <a href="#" class="topbtn">Home</a>
    <a href="#" class="topbtn">About</a>
    <a href="#" class="topbtn">Services</a>
    <a href="#" class="topbtn">Contact</a>
    <button class="multi_button" data-toggle="collapse" data-target="#uploadPanel" style="float:right;">Upload
        <span class="glyphicon glyphicon-menu-down" style="margin-left: 20px "></span></button>

    <div id="uploadPanel" class="collapse">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Upload the testing dataset</strong></div>
            <div class="panel-body">
                <!-- Upload core panel -->
                <h4>Select files from your computer</h4>
                <div style="display: block; text-align: left">
                    <input type="file" enctype="multipart/form-data" id="file-select" name="thefile">
                    <button class="btn btn-info" type="reset" style="margin-top: 30px" onclick="sendCSVToBackend();"> Upload
                    </button>
                </div>
            </div>
        </div>
    </div>

    <h1 class="welcomeTitle">Welcome to the predictive aircraft maintenance engine!</h1>
    <div class="instructionsContainer">
        <ul class="instructionsList">
            <li class="list-group-item"><h3>
                <span-custom>Upload</span-custom>
                the file containing the data describing the engine <br/>
                Submit it and get the failure point predictions.&nbsp;</h3>
            </li>
            <li class="list-group-item"> <h3>Click the
                <span-custom>Graphs</span-custom>
                button to vizualize the tiles panel.</h3>
            </li>
            <li class="list-group-item"><h3>Click the
                <span-custom>Predictions</span-custom>
                button to vizualize the predicted failure points.</h3>
            </li>
        </ul>
    </div>
</div>

<!-- buttons for main panels controls: Graphs and Predictions -->
<div id="secondaryMenu" class="mybox">
    <input id="tab1" type="radio" name="tabs" checked>

    <label for="tab1" onclick="aircraftsTabShow()">Aircraft List</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2" onclick="graphTabShow()">Graphs</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3" onclick="predictionTabShow()">Predictions</label>
</div>


<div class="mybox" >
    <div id="containerMultiInput">
            <div class="panel-heading" ><strong>Select multiple aircrafts by numeric ID</strong></div>
            <form>
                <input type="text" id="textBoxTags">

                <button class="multi_button" type="reset" onclick="addTagElement()" >Add</button>

                <div><ul class="multi_input_list" id="tagList"></ul></div>

                <button class="multi_button" type="reset" onclick="multiChoice()">Display selected</button>
            </form>

    </div>
        </div>

<!------- The Aircraft List panel------->
<div id="aircraftPanel" style="height: 500px; padding-top: 30px; margin-bottom: 50px; background: #e6e6e6">
    <h2 style="padding-top: 20px; text-align: center"> Choose one aircraft from the ones available</h2>
    <ul class="list-group" id="itemlist"></ul>

</div>

<!------- The Graphs panel------->
<div id="graphsPanel">
    <div >
        <div id="containerDropDown" class="container" style="float: left; width: 55%;margin-bottom: 50px  ">
            <div class="dropdown" style="margin-top: 30px">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Available
                    aircrafts
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" id="dropDownList"></ul>
            </div>
        </div>
    </div>

    <!-- container showed on Graphs panel which contains the tile menu-->
    <div id="tilesContainer" style="display: none">
        <div class="first tile hover-expand" onclick="showGraph('1')">
            <img src="../static/photos/graph1_unhover.png">
            <h3 > Dust exposure per cycle for each aircraft</h3>
        </div>
        <div class="third tile hover-expand" onclick="showGraph('3')">
             <img src="../static/photos/graph2_unhover.png">
            <h3> Predicted and working cycles for aircrafts</h3>
        </div>
        <div class="second tile hover-expand" onclick="showGraph('2')">
             <img src="../static/photos/graph3_unhover.png">
            <h3> Chance of failure per cycle for each aircraft</h3>
        </div>
        <div class="fourth tile hover-expand" onclick="showGraph('4')">
            <h3> Remaining cycles depending on how many working ones until now</h3>
        </div>
        <div class="last tile hover-expand" onclick="showGraph('5')">
            <h3> Last tile</h3>
        </div>
    </div>

    <div id="graphContainer"></div>
</div>

<!------- The Predictions panel------->
<div id="predictionsPanel">

    <div id="riskGraphContainer"></div>

    <div id="stats_predic_Container">
        <h1 style="text-align: left">Failure time prediction</h1>
        <!------ container for displaying information about the predicted failure time------>
        <div class="container bootstrap snippet">
            <div class="panel-body inf-content">
                <div class="row">
                    <div class="col-md-6">
                        <strong style="font-size: 20px; margin-bottom: 10px">Information</strong><br>
                        <div class="table-responsive" style="margin-top: 20px">
                            <table class="table table-condensed table-responsive table-user-information">
                                <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            <span class="glyphicon glyphicon-hourglass"></span>
                                            Predicted cycle of failure from now on:
                                        </p>
                                    </td>
                                    <td class="text-primary">
                                        34
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 style="text-align: left">Multi-way prediction</h1>
        <!-- buttons for controlling the Date fields -->
        <button type="button" id="collapseButton" class="btn btn-info" data-toggle="collapse"
                data-target="#info"
                onclick="showCalendarOnce();">Show detailed data
            <span class="glyphicon glyphicon-menu-down" style="margin-left: 20px "></span></button>
        <button type="button" class="btn btn-info" onclick="addNewField();"> Add content</button>
        <button type="button" class="btn btn-info" onclick="removeLastField();">Remove last date</button>

        <!-- panel that contains the Date fields -->
        <form id="info" class="collapse">
            <!--wrapper for multiple fields-->
            <div id="newContent"></div>
        </form>

    </div>
</div>

<script>


</script>
​
</body>
</html>